
 body {
    font-family: 'Share Tech Mono', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: lime; 
 }


.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
 }

 #password {
    animation: rotation 2s linear;
 }

 @keyframes rotation {
    0% {transform: rotate(1turn);}
 }


 #password:hover {
    color: red;
 }

 #password:active {
    color: blue;
 }




